*:before, *:after, * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  border-style: solid;
  display: grid;
  grid-template-columns: .75fr 2fr;
  grid-template-rows: repeat (3, 1fr);
  grid-template-areas: 
  "sidebar upper-main" 
  "sidebar card-area"
  "sidebar card-area"
  "sidebar card-area"
  "sidebar card-area"
  "sidebar card-area";
}

/*********SIDEBAR********/

.sidebar {
  grid-area: sidebar;
  background: #1F1E3D;
  font-family: 'Open Sans', sans-serif;
  /*padding-left: 9px;*/
}

.sidebar-padding {
  padding-left: 10px;
}

.head-title {
  color: #ffffff;
  margin-bottom: 10px;
}

.cat-headings {
  color: #bfbfdd;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 11px;
}

.filter-star {
  padding-top: 10px;
  border-top: 2px solid #353567;
}

.show-starred {
  background: #5356A4;
  color: #E9E9F3;
  border-color: #353567;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  width: 91%;
  height: 31px;
  font-weight: 500;
}

.qual-headings {
  color: #ffffff;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 10px;
  height: 30px;
}

.fil-heading {
  border-top: 2px solid #353567;
  padding-top: 20px;
}

.qual-form {
  width: 100%;
  border-bottom: 2px solid #353567;
}

.new-qual-input {
  margin-bottom: 10px;
  width: 91%;
  height: 30px;
}
.quality-input {
  background: #5356A4;
  color: #E9E9F3;
  border-color: #353567;
  margin-bottom: 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  width: 91%;
  height: 31px;
  font-weight: 500;
}





/***********Main Upper*********/

.upper-main {
  grid-area: upper-main;
  background: #A8AAD1;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 47%;
}

label {
  font-weight: bold;
  font-size: 10px;
}

.form-styles {
  margin-bottom: 5px;
  margin-top: 10px;
}

.title-input {
  height: 30px;
}

.body-input {
  height: 60px;
}

.save-btn {
  background: #353567;
  color: #ffffff;
  height: 30px;
}

.idea-search {
  display: flex;
  margin-bottom: 10px;
}

.search-input {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 5px;
  font-size: 10px;
  width: 100%;
  height: 30px;
}

.fa-search {
  background: #353567;
  color: #ffffff;
  font-size: 19px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/***********Card Area***********/

.card-area {
  grid-area: card-area;
  background: #EAEAF4;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.idea-card {
  width: 30%;
  border: 2px solid black;
  margin: 10px;
  /*height: 37%;*/
}


.card-header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  background: #1F1E3D;
}

.card-main {
  height: 80%;
}

.card-title {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.card-body {
  padding-left: 10px;
  overflow-wrap: break-word;
}

.card-footer {
  height: 10%;
  display: flex;
  justify-content: space-between;
  background: #5256A5
}

.card-quality {
  color: #ffffff;
  padding: 11px 0;
}


.btns {
  width: 30px;
  
}

